@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 43% 97%;
    --foreground: 148 23% 20%;
    --card: 38 43% 97%;
    --card-foreground: 148 23% 20%;
    --popover: 38 43% 97%;
    --popover-foreground: 148 23% 20%;
    --primary: 148 23% 30%;
    --primary-foreground: 38 43% 98%;
    --secondary: 148 23% 85%;
    --secondary-foreground: 148 23% 30%;
    --muted: 148 23% 90%;
    --muted-foreground: 148 23% 40%;
    --accent: 29 34% 64%;
    --accent-foreground: 148 23% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 148 23% 80%;
    --input: 148 23% 80%;
    --ring: 148 23% 30%;
    --radius: 0.5rem;
    --chart-1: 148 23% 30%;
    --chart-2: 148 23% 50%;
    --chart-3: 29 34% 64%;
    --chart-4: 148 23% 70%;
    --chart-5: 29 34% 84%;
  }

  .dark {
    --background: 148 23% 10%;
    --foreground: 38 43% 97%;
    --card: 148 23% 10%;
    --card-foreground: 38 43% 97%;
    --popover: 148 23% 10%;
    --popover-foreground: 38 43% 97%;
    --primary: 38 43% 97%;
    --primary-foreground: 148 23% 20%;
    --secondary: 148 23% 20%;
    --secondary-foreground: 38 43% 97%;
    --muted: 148 23% 20%;
    --muted-foreground: 148 23% 60%;
    --accent: 29 34% 64%;
    --accent-foreground: 148 23% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 148 23% 30%;
    --input: 148 23% 30%;
    --ring: 38 43% 97%;
    --chart-1: 38 43% 97%;
    --chart-2: 148 23% 30%;
    --chart-3: 29 34% 64%;
    --chart-4: 38 43% 80%;
    --chart-5: 29 34% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
